unused
rbassom
pi/__pycache__/*
**/.aws-sam
infrastructure/terraform/.terraform.lock.hcl
infrastructure/terraform/terraform.tfstate
infrastructure/terraform/terraform.tfstate.backup
infrastructure/terraform/ssm_activation_codes.txt
infrastructure/terraform/.terraform/providers/registry.terraform.io/hashicorp/*
windows/userdets/allsky.txt
windows/jsonkeys/allsky.json
windows/creds/credentials.allsky
