<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="frontendPlugins" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="sharpPlugins" type="System.Configuration.NameValueSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <frontendPlugins configSource="FrontEnds.xml" />
  <sharpPlugins configSource="Plugins.xml" />
  <appSettings file="">
    <clear />
    <add key="processPriority" value="256" />
    <add key="fftOffset" value="-40.0" />
    <add key="pllPhaseAdjM" value="0.0" />
    <add key="pllPhaseAdjB" value="-1.75" />
    <add key="deemphasisTime" value="50" />
    <add key="tuningLimit" value="0.45" />
    <add key="spectrumAnalyzer.snrGradient" value="FFFFFF,1E90FF,000091,000050" />
    <add key="spectrumAnalyzer.gradient" value="FFFFFF,ADD8E6,1E90FF,000050,000000" />
    <add key="spectrumAnalyzer.envelopeColor" value="FFFFFF" />
    <add key="spectrumAnalyzer.fillColor" value="1E90FF" />
    <add key="waterfall.useUtcTimeStamp" value="False" />
    <add key="waterfall.gradient" value="4A0000,750000,9F0000,C60000,FF0000,FE6D16,FFFF00,FFFFFF,1E90FF,000091,000050,000030,000020" />
    <add key="useAntiAliasedDisplay" value="true" />
    <add key="stepSizes" value="1 Hz,10 Hz,100 Hz,500 Hz,1 kHz,2.5 kHz,5 kHz,6.25 kHz,7.5 kHz,8.33 kHz,9 kHz,10 kHz,12.5 kHz,15 kHz,20 kHz,25 kHz,30 kHz,50 kHz,100 kHz,150 kHz,200 kHz,250 kHz,300 kHz,350 kHz,400 kHz,450 kHz,500 kHz,1 MHz" />
    <add key="funcubeFrequencyCorrection" value="-21.0" />
    <add key="softrockFrequencyMultiplier" value="4" />
    <add key="RTLBufferLength" value="16384" />
    <add key="minOutputSampleRate" value="32000" />
    <add key="minReducedNarrowBandwidth" value="9000" />
    <add key="minReducedWideBandwidth" value="120000" />
    <add key="minThreadedSampleRate" value="1000000" />
    <add key="airspy.vga" value="6" />
    <add key="airspy.mixerAgc" value="False" />
    <add key="airspy.mixer" value="6" />
    <add key="airspy.lnaAgc" value="False" />
    <add key="airspy.lna" value="1" />
    <add key="airspy.sampleRate" value="0" />
    <add key="airspy.decimation" value="0" />
    <add key="airspy.trackingFilterEnabled" value="True" />
    <add key="airspy.biasTeeEnabled" value="False" />
    <add key="airspy.spyVerterEnabled" value="True" />
    <add key="airspy.spyVerterPPM" value="0" />
    <add key="airspy.usePacking" value="False" />
    <add key="airspy.aliasFreeRatio" value="0.8" />
    <add key="airspy.debug" value="0" />
    <add key="airspyhf.debug" value="0" />
    <add key="airspyhf.libdsp" value="1" />
    <add key="airspyhf.iqBalancer.buffersToSkip" value="1" />
    <add key="airspyhf.iqBalancer.fftIntegration" value="4" />
    <add key="airspyhf.iqBalancer.fftOverlap" value="2" />
    <add key="airspyhf.iqBalancer.correlationIntegration" value="16" />
    <add key="core.iqBalancer.buffersToSkip" value="1" />
    <add key="core.iqBalancer.fftIntegration" value="4" />
    <add key="core.iqBalancer.fftOverlap" value="2" />
    <add key="core.iqBalancer.correlationIntegration" value="16" />
    <add key="spyserver.disableAutoScaling" value="false" />
    <add key="rdsUseFEC" value="True" />
    <add key="timestampInterval" value="100" />
    <add key="SDRIQReadBlockCount" value="1" />
    <add key="zoomPosition" value="1" />
    <add key="displayBeforeFilter" value="True" />
    <add key="SDRIQOutFifoBlockCount" value="0" />
    <add key="USRPSampleRates" value="0.25,0.5,1.0,2.0,2.5,8.0,16.0,32.0" />
    <add key="RTLTcpHost" value="127.0.0.1" />
    <add key="RTLTcpPort" value="1234" />
    <add key="spyserver.uri" value="sdr://127.0.0.1:5555" />
    <add key="spyserver.streamFormat" value="3" />
    <add key="spyserver.fullIQ" value="False" />
    <add key="showBookmarks" value="False" />
    <add key="dnr.af.quality" value="60" />
    <add key="dnr.if.quality" value="60" />
    <add key="plugin.bandPlan.enabled" value="True" />
    <add key="plugin.bandPlan.autoUpdateSettings" value="True" />
    <add key="plugin.bandPlan.position" value="1" />
    <add key="dnr.af.enabled" value="False" />
    <add key="dnr.af.profile" value="3" />
    <add key="dnr.af.threshold" value="-120" />
    <add key="dnr.af.depth" value="40" />
    <add key="dnr.af.slope" value="2" />
    <add key="dnr.af.attack" value="10" />
    <add key="dnr.af.decay" value="20" />
    <add key="dnr.af.fft" value="0" />
    <add key="dnr.if.enabled" value="False" />
    <add key="dnr.if.profile" value="3" />
    <add key="dnr.if.boostSNR" value="False" />
    <add key="dnr.if.threshold" value="-45" />
    <add key="dnr.if.depth" value="40" />
    <add key="dnr.if.slope" value="2" />
    <add key="dnr.if.attack" value="10" />
    <add key="dnr.if.decay" value="20" />
    <add key="dnr.if.fft" value="0" />
    <add key="nb.bb.enabled" value="False" />
    <add key="nb.bb.threshold" value="5" />
    <add key="nb.bb.pulseWidth" value="50" />
    <add key="nb.bb.lookupWindow" value="10" />
    <add key="nb.if.enabled" value="False" />
    <add key="nb.if.threshold" value="5" />
    <add key="nb.if.pulseWidth" value="30" />
    <add key="nb.if.lookupWindow" value="50" />
    <add key="nb.demod.enabled" value="False" />
    <add key="nb.demod.threshold" value="5" />
    <add key="nb.demod.pulseWidth" value="50" />
    <add key="nb.demod.lookupWindow" value="10" />
    <add key="enableZoomFFTFilter" value="False" />
    <add key="enableZoomIF" value="False" />
    <add key="enableZoomMPX" value="False" />
    <add key="enableZoomAF" value="False" />
    <add key="spectrumAnalyzer.attack" value="0.52" />
    <add key="spectrumAnalyzer.decay" value="0.4" />
    <add key="waterfall.Attack" value="0.86" />
    <add key="waterfall.decay" value="0.92" />
    <add key="useTimeMarkers" value="True" />
    <add key="fftSpeed" value="9" />
    <add key="fftContrast" value="-16" />
    <add key="fftWindowType" value="3" />
    <add key="spectrumStyle" value="4" />
    <add key="fftView" value="2" />
    <add key="fftResolution" value="6" />
    <add key="detectorType" value="5" />
    <add key="useAGC" value="True" />
    <add key="agcThreshold" value="-50" />
    <add key="agcDecay" value="500" />
    <add key="agcSlope" value="0" />
    <add key="agcHang" value="False" />
    <add key="frequencyShift" value="0" />
    <add key="frequencyShiftEnabled" value="False" />
    <add key="swapIQ" value="False" />
    <add key="correctIQ" value="False" />
    <add key="markPeaks" value="False" />
    <add key="fmStereo" value="False" />
    <add key="filterAudio" value="True" />
    <add key="unityGain" value="False" />
    <add key="latency" value="127" />
    <add key="sampleRate" value="96000 sample/sec" />
    <add key="audioGain" value="50" />
    <add key="AudioIsMuted" value="False" />
    <add key="windowState" value="0" />
    <add key="windowPosition" value="285,38" />
    <add key="windowSize" value="930,630" />
    <add key="collapsiblePanelStates" value="1,0,0,0,0,0,0,0,0,0,0,0,1,0" />
    <add key="splitterPosition" value="252" />
    <add key="iqSource" value="4" />
    <add key="waveFile" value="" />
    <add key="centerFrequency" value="143048000" />
    <add key="vfo" value="143048020" />
    <add key="tuningStyle" value="0" />
    <add key="fftDisplayOffset" value="4" />
    <add key="fftDisplayRange" value="2" />
    <add key="inputDevice" value="[MME] Microsoft Sound Mapper - Input" />
    <add key="outputDevice" value="[MME] CABLE Input (VB-Audio Virtual C" />
    <add key="spectrumWidth" value="1920001" />
    <add key="lockCarrier" value="False" />
    <add key="useAntiFading" value="False" />
    <add key="menuPosition" value="0" />
    <add key="wfmState" value="100000,230,3,50,0,1000,1,18,0,1,0,0" />
    <add key="nfmState" value="8000,1000,3,50,1,1000,1,12,0,0,0,0" />
    <add key="amState" value="10000,1000,3,50,0,1000,1,6,0,1,0,0" />
    <add key="lsbState" value="2400,1000,3,50,0,1000,1,1,0,1,0,0" />
    <add key="usbState" value="4000,500,3,50,0,1000,1,1,0,1,0,0" />
    <add key="dsbState" value="6000,1000,3,50,0,1000,1,1,0,1,0,0" />
    <add key="cwState" value="300,1000,3,50,0,1000,1,1,0,1,0,0" />
    <add key="rawState" value="10000,1000,3,50,0,1000,1,4,1,0,0,0" />
    <add key="topSplitter" value="200" />
    <add key="bottomSplitter" value="200" />
    <add key="leftSplitter" value="200" />
    <add key="rightSplitter" value="200" />
    <add key="menuIsHidden" value="False" />
    <add key="core.theme" value="Windows8" />
    <add key="rtl.tunerGain" value="19" />
    <add key="rtl.sampleRate" value="8" />
    <add key="rtl.tunerAgc" value="False" />
    <add key="rtl.frequencyCorrection" value="35" />
    <add key="rtl.chipAgc" value="False" />
    <add key="rtl.samplingMode" value="0" />
    <add key="rtl.offsetTuning" value="True" />
  </appSettings>
</configuration>