# python requirements file

google-auth-oauthlib
google-api-python-client 
google-auth-httplib2 
python-dvr>=0.0.1 ; python_version >='3.6'
boto3
opencv-python
python-crontab
paho-mqtt
ephem
pillow